
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:8%;
}
form{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 3px rgb(65, 0, 85);
    width: 30%;
    height: 250%;
    border-radius: 7px;
    padding: 3%;
}
input{
   border: solid 2px blueviolet;
   border-radius: 3px;
   width: 100%;
   height: 25px;
   
}
.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgb(106, 35, 173);
    border-radius: 3px;
    width: 103%;
    height: 25px;
}
h1{
    color: blueviolet;
}
a:hover{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(155, 50, 253);
    border-color: white;

}
.tabela{
    border: solid 1px black;
}
