body{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0%;
    color:rgb(0, 0, 0);
    
}
section{
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap:90px;

}
button{
    background-color: rgb(103, 61, 152);
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    
}
button:hover{
    cursor: pointer;
    color:rgb(165, 165, 188);
}
.p{   
    align-items: center;
    text-align: center;
}



